@model IEnumerable<NewLock.Models.Product>

@{
    ViewData["Title"] = "Search Results";
}

<h2>Search Results</h2>

@if (Model.Any())
{
    <div class="row">
    @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card d-flex justify-content-center">
                    <img src="@Url.Content($"https://media.idn-inc.com/Photos/{product.Ez}.jpg")"
                        class="card-img-top img-fluid w-75" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text"><strong>Price: $@product.Price.ToString("F2")</strong></p>
                        <p class="card-text">
                            <a class="link-offset-2 link-underline-danger link-underline-opacity-0" href="#">
                                EZ: #@product.Ez.ToString()
                            </a>
                        </p>


                        <a asp-controller="Search" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">View
                            Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No results found.</p>
}