<div class="col-md-12 mt-5 banner">
    <h2>We're Affordable & Fast, Get A Quote Today!</h2>
    <Button class="mt-3" onclick="@Dismiss" Color="ButtonColor.Danger" Size="ButtonSize.Large"> Call 888-999-LOCK
    </Button>
</div>

@code {
    private void Dismiss()
    {
    }
}