@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="tagline">LOCKSMITH SERVICES IN FLORIDA</h1>
    <p class="lead">Protecting your home or business shouldn’t cost you an arm and leg.<br>That’s what Affordable
        Lock
        & Security Solutions is all about. Secure what matters most today.</p>
    <Button Color="ButtonColor.Danger" Size="ButtonSize.Large"> Call 888-999-LOCK </Button>

    <Dropdown Color="DropdownColor.Danger" Size="DropdownSize.Large" Direction="DropdownDirection.DropdownCentered">
        <DropdownToggleButton>Schedule Consultation for your Project</DropdownToggleButton>
        <DropdownMenu>
            <DropdownItem To="#" Type="DropdownItemType.Link">Action</DropdownItem>
            <DropdownItem To="#" Type="DropdownItemType.Link">Another action</DropdownItem>
            <DropdownItem To="#" Type="DropdownItemType.Link">Something else here</DropdownItem>
        </DropdownMenu>
    </Dropdown>


    <Button Color="ButtonColor.Danger" Size="ButtonSize.Large"> Sechdule on Site Service </Button>

</div>