@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">We Sell Locks</h1>
    <p>Search for your item:</p>
</div>

<div class="">
        @await Html.PartialAsync("_SearchBar")
</div>